/* You can add global styles to this file, and also import other style files */
.container{
   background-color: rgb(119, 119, 119);
 width: 99vw;
    height: 90vh;
   display: flex; 
   justify-content: center; 
    align-items: center; 
    background-color: rgb(177, 177, 105);
    margin-top: 20px;
}